<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dessendmsgpoc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5c0fc139-484c-4b94-89ac-09fe5b2144bc/resourceGroups/des_mb_poc_rg/providers/Microsoft.Web/sites/dessendmsgpoc</ResourceId>
    <UserName>$dessendmsgpoc</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://dessendmsgpoc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>