<?xml version=1.0 encoding=utf-8?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion=4.0 xmlns=http://schemas.microsoft.com/developer/msbuild/2003>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionappeventhubsignalrfoodtemp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b6244b48-0b09-4f0c-b257-484c00bc1d1c/resourcegroups/fleetcirrus-poc-rg/providers/Microsoft.Web/sites/FunctionAppEventHubSignalRFoodTemp</ResourceId>
    <UserName>$FunctionAppEventHubSignalRFoodTemp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionappeventhubsignalrfoodtemp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>